@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}


.image-shape {
    clip-path: path("M0 4.00001C0 1.79087 1.79086 0 4 0H420C422.209 0 424 1.79086 424 4V464.731H196.116C183.015 464.731 171.011 457.415 165.008 445.77L147.549 411.909C134.616 386.826 98.8396 386.577 85.5584 411.477L67.0362 446.203C60.9532 457.607 49.08 464.731 36.1545 464.731H0V4.00001Z");
}

.custom-shape {
  clip-path: path("M320 378H24C10.7452 378 0 367.255 0 354V24C0 10.7452 10.7452 0 24 0H378C391.255 0 402 10.7451 402 24V296C402 309.255 391.255 320 378 320H368C354.745 320 344 330.745 344 344V354C344 367.255 333.255 378 320 378Z")
}

.testimonial-shape {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 76%, 30% 89%, 16% 75%, 0% 75%);
}

.cardShape {
  clip-path: path("M8 12C8 9.79086 9.79086 8 12 8H183H261.5C263.709 8 265.5 9.79086 265.5 12V46.2792C265.5 49.2969 268.714 51.2278 271.378 49.8107L310.591 28.9531C311.782 28.3194 313.213 28.3291 314.395 28.9789L355.926 51.798C357.205 52.5008 358 53.8444 358 55.3037V61.875V115.75V223.5V435C358 437.209 356.209 439 354 439H12C9.79087 439 8 437.209 8 435V12Z");
}

.heading{
  color:  #2B2B2B;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  text-transform: capitalize;
}
.subHeading{
  color:  #E67529;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  text-transform: capitalize;
}
.para1{
color:  #534C4C;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
text-transform: capitalize;
}
.para2{
color: #2B2B2B;
text-align: justify;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

.slide-btn {
  background-color: transparent;
  border: 2px solid #E67529;
  padding: 0.75rem 1.25rem;
  color: #E67529;
  border-radius: 9999px;
  transition: transform 0.3s;
}

.slide-btn:hover {
  background-color: #E67529;
  color: white;
  transform: scale(1.1);
}

.button {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;
  border: 1px solid #E67529;
  font-size: 18px;
  transition: transform 0.3s;
  font-weight: 500;
  color: #2B2B2B;
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.button:hover {
  transform: scale(1.05);
  background-color: #E67529;
  color: #fff;
}
.toggle {
  appearance: none;
  width: 72px; 
  height: 40px; 
  background-color: #E6E6E6; 
  border-radius: 20px; 
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.toggle::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 9px;
  width: 28px; 
  height: 28px; 
  background-color: #E67529; 
  border-radius: 50%; 
  transition: transform 0.3s;

}

.toggle:checked {
  background-color: primary; 
}

.toggle:checked::before {
  transform: translateX(26px); 
}

  /* pagination */

.ant-pagination {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: auto;
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item {
  border: 1px solid #D9D9D9;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #E67529;
  color: #FFFFFF;
  border: none;
}

.ant-pagination .ant-pagination-item-active a {
  color: #FFFFFF;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: #FFFFFF;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-collapse {
  border:none;
 
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-collapse .ant-collapse-content {
  border-top: none;



}

:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:hover {
 border-color: none;
 box-shadow: none;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  border-color: #E67529;
  background: #E67529;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined:focus-within {
  border-color: #E67529;
}