@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}


/* for slider  */

/* Add these styles to your CSS file */
.feature-slider {
    overflow: hidden;
    position: relative;
  }
  
  .feature-slider .slider-wrapper {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .feature-slider .slide {
    flex: 0 0 25%; /* Ensure each slide takes up 25% width (4 slides visible at a time) */
    box-sizing: border-box;
  }
  
  .feature-slider .prev,
  .feature-slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .feature-slider .prev {
    left: 0;
  }
  
  .feature-slider .next {
    right: 0;
  }